
$secondary-color: #0075FF;

.btn {
    padding: 0.45rem 0.80rem;
    font-size: 0.9em;
    font-weight: 500;
    border: none;

    &.btn-main {
        background-color: $secondary-color;
        border-radius: 0.25rem;
        color: white;
    }

    &.btn-secondary {
        background-color: white;
        color: black;
    }
}

.mini-icon {
    height: 2.1rem;
    aspect-ratio: 1;
    background-color: white;
    box-shadow: -0.15rem 0.35rem 0.5rem rgba(106, 106, 106, 0.418);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem 1.3rem;
    i {
       color:$secondary-color;
       font-size: 1.2rem;
       font-weight: 600;
    }
}

