
$secondary-color: #0075FF;

.btn {
    padding: 0.45rem 0.80rem;
    font-weight: 500;
    border: none;

    &.btn-main {
        background-color: $secondary-color;
        border-radius: 0.25rem;
        color: white;
    }

    &.btn-secondary {
        background-color: white;
        color: black;
    }
}

.mini-icon {
    height: 1rem;
    width: 1rem;
    background-color: white;
    box-shadow: 0 0 0.15rem 0 black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
       color:$secondary-color;
    }
}

