@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;800&display=swap');

$font-page: 'Mulish', sans-serif;
$secondary-color: #0075FF;

@mixin font-h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: black;
    line-height: 3.7rem;
}

@mixin font-h2 {
    font-weight: 500;
    color: black;
}

body {
    font-family: $font-page;
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.logo {
    justify-self: center;
    align-self: center;
    p{
        font-size: 1.4em;
        font-weight: 800;
        color: $secondary-color;
        padding: 0;
        margin: 0;
    }
}
 .menu {
   display: flex;
   justify-content: center;
   align-items: center;

     ul{
     padding: 0;
     margin: 0;
       li{
        list-style: none;
        display: inline;
        font-size: 0.9em;
        font-weight: 600;
        padding: 0 0.3rem;
       }
   }
        
 }

 .buttons {
    justify-self: center;
    align-self: center;
}
 
hr {
    opacity: 0.4;
}

.sec-home {
    display: flex;
    margin-top: 5rem;

    h1{
        @include font-h1();
    }
    span{
        color: $secondary-color;
        font-weight: 800;
        font-size: 1rem;
        i{
            margin-left: 0.3rem;
        }
    }
    p{
        font-weight: 800;
    }
    img{
        height: 23rem;
        margin-left: 7rem;
    }
}

