@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

$font-page: 'Mulish', sans-serif;
$secondary-color: #0075FF;
$secondary-font-color: rgb(110, 110, 110);
$margin-y: 7rem;

@mixin font-h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: black;
    line-height: 3.7rem;
}

@mixin font-h2 {
    font-weight: 800;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 0.8rem;
}

@mixin box-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3.5rem;
    h2{
      @include font-h2();
    }
    p{
      font-size: 1.2rem;
      font-weight: 600;
      color: $secondary-font-color;
    }
}

body {
    font-family: $font-page;
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.logo {
    justify-self: center;
    align-self: center;
    p{
        font-size: 1.4em;
        font-weight: 800;
        color: $secondary-color;
        padding: 0;
        margin: 0;
    }
}
 .menu {
   display: flex;
   justify-content: center;
   align-items: center;

     ul{
     padding: 0;
     margin: 0;
       li{
        list-style: none;
        display: inline;
        font-size: 0.9em;
        font-weight: 800;
        padding: 0 0.3rem;
       }
   }
        
 }

 .buttons {
    justify-self: center;
    align-self: center;
}
 
hr {
    opacity: 0.4;
}

.sec-home {
    display: flex;
    margin: $margin-y 0;

    h1{
        @include font-h1();
    }
    div{
    margin-bottom: 0.8rem;
    }
    span{
        color: $secondary-color;
        font-weight: 800;
        font-size: 1rem;
        i{
            margin-left: 0.3rem;
            color: $secondary-color;
        }
    }
    p{
        font-weight: 600;
        margin: 1rem 0rem;
    }
    img{
        height: 23rem;
        margin-left: 7rem;
    }

    input{
        padding: 0.45rem 0.80rem;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 0.25rem;
    border: 1px solid lightgrey;
    }
}
.call-to-action{
    display: flex;
    gap: 1rem;
}

.sec-features{
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-y;
}

.title {
    @include box-title();
}

.features{
    display: flex;
    justify-content: center;
     img{
        height: 23rem;
    }
}

.argum{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    .points{
     display: flex;
     margin-right: 3rem;
    }
}

.wrapper-2{
    h4{
        margin: 0.8rem 0;
        font-size: 1.1rem;
    }
    span{
        font-size: 1rem;
        font-weight: 600;
        color: $secondary-font-color;
    }
}


